<header class="header">
  <div class="nav">
    <a href="/" class="logo">Jbessie</a>
    <a href="/collections/women">Women</a>
    <a href="/collections/styles">Styles</a>
    <a href="/collections/men">Men</a>
    <a href="/collections/sale">Sale</a>
  </div>
</header>
